{% extends "base/base.html" %} 
{% block title %}Add Chat{% endblock title %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container-fluid container-md mt-5">
    <div class="shadow rounded-3 p-3">
        <h4 class="text-center">Add Chat</h4>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="text-center mt-4">
                <input type="submit" value="Add Chat" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    $("#id_room_photo").addClass("form-control")
    $(".requiredField").addClass("mt-4")
</script>
{% endblock %}