{% extends "base/base.html" %} 
{% block title %}Lobby{% endblock title %} 
{% block content %}
<div class="container mt-4">
    <div class="shadow rounded-3 p-3 mb-3 d-flex align-items-center">  
        <div class="row justify-content-between" style="width: 100%">
            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-comments fa-lg ps-2 text-primary"></i>
                    <p class="ms-3 fw-bold">{{request.user.username}}</p>
                </div>
            </div>
            <div class="col-auto">
                <a href="{% url 'add-chat' %}" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-solid fa-comment-medical fa-lg ps-2 text-primary"></i>
                    <p class="ms-2 fw-bold">Add a chat</p>
                </a>
            </div>
            <div class="col-auto">
                <a href="{% url 'logout' %}" class="text-primary">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-lg" title="Logout"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="shadow rounded-3 p-3 friends">
        {% for room in rooms %}
            <div class="friends__friend">
                <a href="{% url 'lobby' room.id %}" class="row align-items-center text-dark text-decoration-none">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <img src="{{room.room_photo.url}}" alt="profile_picture" title="Profile pic" />
                            <h5>{{room.room_name}}</h5>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-chevron-right" title="Chat"></i>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(".friends__friend").last().css("border-bottom","0")
</script>
{% endblock %}