{% extends "base/base.html" %} {% block title %}Lobby{% endblock title %} 
{% block content %}
<div class="container-fluid">
    <div class="category shadow rounded-3 py-2 px-3">  
        <div class="row justify-content-between align-items-center" style="width: 100%">
            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-comments fa-lg ps-2 text-primary"></i>
                    <div class="ms-3">
                        <p class="fw-bold">{{room.room_name}}</p>
                        <small>{{request.user.username}}</small>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a href="{% url 'logout' %}" class="text-primary">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-lg" title="Logout"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="chat shadow rounded-3">
                <div class="chat__go_back shadow-sm border-bottom bg-light px-3 py-1">
                    <a href="{% url 'home' %}">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </div>
                <div class="p-3 chat__messages">
                    {% for mess in room_messages %}
                        {% if mess.profile.user == request.user %}
                            <div class="chat__message_right shadow-sm">
                            <div class="d-flex align-items-center">
                                <p class="fw-bold">{{mess.profile.user.username}}</p>
                                <p class="dot">•</p>
                                <p class="time">{{mess.create|time:"h:i a"}}</p>
                            </div>
                            <p>{{mess.text}}</p>
                            </div>
                        {% else %}
                            <div class="chat__message_left shadow-sm">
                            <div class="d-flex align-items-center">
                                <p class="fw-bold">{{mess.profile.user.username}}</p>
                                <p class="dot">•</p>
                                <p class="time">{{mess.create|time:"h:i a"}}</p>
                            </div>
                            <p>{{mess.text}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <form onsubmit="send_message(event)">
                {% csrf_token %}
                <div class="chat__message_send mt-2">
                    <div class="row">
                    <div class="col">
                        <input type="text" class="form-control message_text" placeholder="Your message..." required />
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-secondary" value="Send" />
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script type="text/javascript">

    let url = `ws://${window.location.host}/ws/socket-server/{{room.id}}/`;

    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data);
        console.log(data);
        if(data.type=='botjoinmessagge'){
            if (data.sender != "{{request.user.username}}"){
                $('.chat__messages').append(
                    `
                    <div class="chat__message_left shadow-sm">
                        <div class="d-flex align-items-center">
                            <p class="fw-bold">${data.user}</p>
                            <p class="dot">•</p>
                            <p class="time">{% now "h:i a" %}</p>
                        </div>
                        <p>${data.message}</p>
                    </div>
                    `
                )
            }
            
            else{
                $('.chat__messages').append(
                    `
                    <div class="chat__message_left shadow-sm">
                        <div class="d-flex align-items-center">
                            <p class="fw-bold">${data.user}</p>
                            <p class="dot">•</p>
                            <p class="time">{% now "h:i a" %}</p>
                        </div>
                        <p>Welcome to chat!</p>
                    </div>
                    `
                )
            }
        }
        else if(data.type=='botleavemessagge'){
            $('.chat__messages').append(
                `
                <div class="chat__message_left shadow-sm">
                    <div class="d-flex align-items-center">
                        <p class="fw-bold">${data.user}</p>
                        <p class="dot">•</p>
                        <p class="time">{% now "h:i a" %}</p>
                    </div>
                    <p>${data.message}</p>
                </div>
                `
            )
        }
        else if(data.type=='chat'){
            if (data.user=="{{request.user.username}}"){
                $('.chat__messages').append(
                    `
                    <div class="chat__message_right shadow-sm">
                        <div class="d-flex align-items-center">
                            <p class="fw-bold">${data.user}</p>
                            <p class="dot">•</p>
                            <p class="time">{% now "h:i a" %}</p>
                        </div>
                        <p>${data.message}</p>
                    </div>
                    `
                )
            }

            else{
                $('.chat__messages').append(
                `
                <div class="chat__message_left shadow-sm">
                    <div class="d-flex align-items-center">
                        <p class="fw-bold">${data.user}</p>
                        <p class="dot">•</p>
                        <p class="time">{% now "h:i a" %}</p>
                    </div>
                    <p>${data.message}</p>
                </div>
                `
            )
            }
        }
        
        document.querySelector(".chat").scrollTop =
            document.querySelector(".chat").scrollHeight;
    }
    
    async function send_message(event){
        event.preventDefault();
        let message = $(".message_text").val();
        chatSocket.send(JSON.stringify({
            'username':'{{request.user.username}}',
            'message':message,
            'room':'{{room.id}}',
        }))
        $(".message_text").val("");


        let form_data = new FormData();
        form_data.append('text', message);
        form_data.append('csrfmiddlewaretoken', "{{csrf_token}}");
        form_data.append('room_id', '{{room.id}}');
        let response = await fetch(window.location.origin+"/send-message/",{
            method: "POST",
            credentials: 'same-origin',
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            body: form_data,
        });
    }
    
</script>
{% endblock %}
